
#myPabe{
    -fx-border-radius: 35;
    -fx-background-radius: 35;
    -fx-background-color: darkcyan;
}
.label{
    -fx-font-family: "Tempus Sans ITC";
    -fx-text-alignment: center;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-border-radius: 20;
    -fx-border-color: aquamarine;
    -fx-border-style: inset;
    -fx-border-width: 5px;
}
#sellerName{
}
#goodName{
}
.pane:hover{
    -fx-opacity: 0.7;
}
#imagV{

    -fx-border-insets: 1 1 1 1;
    -fx-border-radius: 20;
    -fx-border-color: #40E0D0;
}