.mainPane {
    -fx-alignment: center;
    -fx-pref-width: 250;
    -fx-pref-height: 200;
}

.HBox {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.mainPane:hover {
    -fx-effect: dropshadow(gaussian, silver, 0.25, 1,0, 0);
}
