.inputText{
    -fx-background-color: transparent;
    -fx-text-fill: rgba(75,75,75,0.76);
    -fx-border-color : rgba(0, 0, 0, 0.16);
    -fx-border-width : 0 0 1 0 ;
}

.inputText:focused{
    -fx-border-color : rgba(255, 171, 78, 0.75);
    -fx-border-width : 0 0 1.5 0 ;
}

.inputChoice{
    -fx-background-color: transparent;
    -fx-text-fill: rgba(75,75,75,0.76);
    -fx-border-color : rgba(0, 0, 0, 0.16);
    -fx-border-width : 0 0 1 0 ;
}

.inputChoice:focused{
    -fx-border-color : rgba(255, 171, 78, 0.75);
    -fx-border-width : 0 0 1.5 0 ;
}

.inputChoiceError{
    -fx-border-color : rgba(255, 31, 31, 0.75);
    -fx-text-fill: rgba(255, 31, 31, 0.75);
}

.editButton {
    -fx-display-caret: false;
    -fx-tab-min-width: 15;
    -fx-tab-min-height: 15;
    -fx-tab-max-height: 15;
    -fx-tab-max-width: 15;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px, 20px;
    -fx-background-image: url("icons/editIcon.png");
    -fx-cursor: hand;
}

#addButton {
    -fx-display-caret: false;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60, 60;
    -fx-background-image: url("icons/addIcon.png");
    -fx-cursor: hand;
}

#editButton {
    -fx-display-caret: false;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60, 60;
    -fx-background-image: url("icons/editIcon.png");
    -fx-cursor: hand;
}


#acceptButton {
    -fx-display-caret: false;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60, 60;
    -fx-background-image: url("icons/acceptIcon.png");
    -fx-cursor: hand;
}

#acceptButton:pressed{
    -fx-opacity: 1;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.9),5,0,0,2);
}

#addManagerButton {
    -fx-display-caret: false;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70, 70;
    -fx-background-image: url("icons/managerIcon.png");
    -fx-cursor: hand;
}

#addManagerButton:pressed{
    -fx-opacity: 1;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.9),5,0,0,2);
}

#refreshButton {
    -fx-display-caret: false;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50, 50;
    -fx-background-image: url("icons/refreshIcon.png");
    -fx-cursor: hand;
}

#refreshButton:pressed{
    -fx-opacity: 1;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.9),5,0,0,2);
}

#removeButton {
    -fx-display-caret: false;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60, 60;
    -fx-background-image: url("icons/removeIcon.png");
    -fx-cursor: hand;
}

#removeButton:pressed{
    -fx-opacity: 1;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.9),5,0,0,2);
}

#supporterButton {
    -fx-display-caret: false;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60, 60;
    -fx-background-image: url("icons/supporterIcon.png");
    -fx-cursor: hand;
}

#supporterButton:pressed{
    -fx-opacity: 1;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.9),5,0,0,2);
}


#addButton:pressed{
    -fx-opacity: 1;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.9),5,0,0,2);
}

#editButton:pressed{
    -fx-opacity: 1;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.9),5,0,0,2);
}


.submitButton{
    -fx-min-width: 100;
    -fx-min-height: 40;
    -fx-display-caret: false;
    -fx-background-color: rgba(255, 186, 13, 0.94);
    -fx-background-radius: 20px;
    -fx-border-radius: 95%;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7),5,0,0,2);
}

.submitButton:hover{
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2),5,0,0,2);
}

.submitButton:pressed{
    -fx-opacity: 1;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.9),5,0,0,2);
}