.tab-pane{
    -fx-tab-min-height: 5em;
    -fx-tab-max-height: 5em;

    -fx-tab-min-width: 5em;
    -fx-tab-max-width: 5em;

    -fx-background-color: #DCDCDC;

}

.tab .tab-label{
    -fx-background-color: transparent;
    -fx-alignment: center;

}

#userMangerTab{
    -fx-background-image: url("Sellericons/contact.png");
}
#offsTab{
    -fx-background-image: url("Sellericons/off/icons8-discount-64.png");
}
#salesHIstoryTab {
    -fx-background-image: url("Sellericons/sale/icons8-sale-100.png");
}
#companyInfoTab {

    -fx-background-image: url("Sellericons/company-info/icons8-company-100-3.png");
    -fx-background-size:100% ;
}
#balanceTab{
    -fx-background-image: url("Sellericons/balance/icons8-cheap-2-100-2.png");
}
#addProductTab{
    -fx-background-image: url("Sellericons/add.png");
}
#manageProductTab{
    -fx-background-image: url("Sellericons/icons8-product-100-2.png");
    -fx-background-size: 100%;
}
#showCategoryTab{
    -fx-background-image: url("Sellericons/category/icons8-book-stack-100.png");
}
#removeProductTab{
    -fx-background-image: url("Sellericons/remove.png");
}


.tab {
    -fx-background-color: rgba(25, 25, 25, 0.01);
    -fx-background-size: 80%;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-opacity: 1;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.tab:hover{
    -fx-opacity: 0.5;
    -fx-cursor: hand;
}

.tab:selected{
    -fx-background-color: transparent;


    -fx-background-insets: 0;

    -fx-border-width: 5 0 0 0;
    -fx-border-color: #FFFFFF;
}

.tab:focused{
    -fx-focus-color : transparent;
}

.tab-pane *.tab-header-background {
    -fx-background-color : rgba(47,79,79 0.8);
    -fx-border-width: 0 0 0.7 0;
    -fx-border-color: rgba(20, 45, 57, 0.75);
}

.tab-pane *.tab-header-area {
    -fx-background-insets: 0,0,0,5;
    -fx-padding: 0.0em 0.1em 0.0em 0.0em;
}

.tab:selected .focus-indicator{
    -fx-focus-color : transparent;
    -fx-border-color: transparent;
}